.card{
    margin: 10px 0px 20px 0px;
}

#logoimg{
    border-radius: 20%;
    height: 300px;
    width: 300px;
    margin:5px;
}
footer{
    background: #252424;
    color: #fff;
    padding: 10px;
}
.copy{
    font-size: 1em;
}